{% extends 'base.html' %}

{% block content %}
<!-- Display messages here -->
<div class="update-message d-flex">
    {% if messages %}
    <div class="row">
        {% for message in messages %}
        <p class="alert {{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
</div>
<h1>{{ title }}</h1>
{% for post in posts %}
<div class="row mb-4">
    <!-- Vote icons and score -->
    <div class="col-1">
        <div class="vote-container">
            <i class="fa-solid fa-circle-arrow-up vote-icon upvote" data-content-id="{{ post.id }}"
                data-content-type="post"></i>
            <span class="score-readout" id="score-{{ post.id }}">{{ post.total_votes }}</span>
            <i class="fa-solid fa-circle-arrow-down vote-icon downvote" data-content-id="{{ post.id }}"
                data-content-type="post"></i>
        </div>
    </div>
    <!-- Post content -->
    <div class="col-11">
        <article>
            <h2>
                {% if post.slug %}
                <a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a>
                {% else %}
                {{ post.title }} <em>(Link currently unavailable)</em>
                {% endif %}
            </h2>
            <p>{{ post.excerpt }}</p>
            <p>Author: {{ post.creator }} | Date: {{ post.created_on }} | Comments: {{ post.comment_count }}</p>
        </article>
    </div>
</div>
{% empty %}
<p>No posts available.</p>
{% endfor %}


{% if is_paginated %}
<nav>
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a></li>
        {% endif %}
        {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">Next &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}