{% extends 'base.html' %}

{% block content %}
<!-- Display messages here -->
<div class="update-message d-flex">
    {% if messages %}
    <div class="row">
        {% for message in messages %}
        <p class="alert {{ message.tags }}">{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
</div>
<h1>{{ title }}</h1>
{% for post in posts %}
<div class="row mb-4 post-lineitem d-flex align-items-center" style="min-height: 100px;"> <!-- Adjust min-height as needed -->
    <!-- Vote icons and score -->
    <div class="col-1">
        <div class="vote-container">
            <i class="fa-solid fa-circle-arrow-up vote-icon upvote" data-content-id="{{ post.id }}"
                data-content-type="post"></i>
            <span class="score-readout" id="score-{{ post.id }}">{{ post.total_votes }}</span>
            <i class="fa-solid fa-circle-arrow-down vote-icon downvote" data-content-id="{{ post.id }}"
                data-content-type="post"></i>
        </div>
    </div>
    <!-- Post content -->
    <div class="col-11">
        <article>
            <h2>
                {% if post.slug %}
                <a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a>
                {% else %}
                {{ post.title }} <em>(Link currently unavailable)</em>
                {% endif %}
            </h2>
            <p>{{ post.excerpt }}</p>
            <p>Author: {{ post.creator }} | Date: {{ post.created_on }} | Comments: {{ post.comment_count }}</p>
        </article>
    </div>
</div>
{% empty %}
<p>No posts available.</p>
{% endfor %}


{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center pagination-dark">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}
        {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
        <li class="page-item active" aria-current="page">
            <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}