/* General Styles */

body.d-flex.flex-column.min-vh-100 {
    background: black;
    color: #f0ffff;
}

a {
    color: #f0ffff !important;
}

main {
    padding: 0 5%;
}

/* Navigation Styles */

a.nav-link {
    color: #f0ffff;
}

a.nav-link {
    color: #f0ffff;
}

li.nav-item {
    border-right: 2px solid #f0ffff;
    margin-right: 5px;
}

/* Post Page styling */

#post-space {
    border: 2px solid;
    padding: 10px;
    width: 65%;
}