/* General Styles */

body.d-flex.flex-column.min-vh-100 {
    background: black;
    color: #f0ffff;
}

a {
    color: #f0ffff !important;
}

main {
    padding: 0 5%;
}

button.btn.btn-signup.btn-info.right {
    color: #f0ffff;
}

/* Navigation Styles */

.navbar-dark .nav-link {
    color: #f0ffff !important; 
}

.navbar-dark .nav-link:hover {
    color: #cccccc !important;
    background: #007bff !important;
    transition: all, 0.5s;
}

.navbar-dark .active .nav-link {
    color: #007bff !important;
}

p.alert.success {
    background: #13ab13;
}

.pagination-dark .page-link {
    background-color: #343a40; 
    color: #ffffff;
}

.pagination-dark .page-link:hover {
    background-color: #495057;
    color: #ffffff; 
}

.pagination-dark .active .page-link {
    background-color: #007bff; 
    color: #ffffff;
}

.pagination-dark .disabled .page-link {
    background-color: #343a40; 
    color: #6c757d;}


/* Post Page styling */

h1.post-listing-title {
    margin-top: 30px;
}

.row.mb-4.post-lineitem {
    background: #21252a;
    border-radius: 8px;
    padding-top: 8px;
}

#post-space {
    border: 2px solid;
    padding: 10px;
    width: 65%;
    margin-top: 30px;
}

form#comment-form label {
    display: none;
}

.min-height-10 {
    min-height: 10vh;
}

.row.score-elements-row.h-100 {
    font-size: 2rem;
}

.vote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vote-icon {
    cursor: pointer;
    font-size: 1.5em;
}

.upvoted {
    color: #ff8000;
    transition: all, 0.5s;
}

.downvoted {
    color: #007acc;
    transition: all, 0.5s;
}

.score-readout {
    margin: 5px 0;
}

.replies {
    margin-top: 8px;
}

.comment-container {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #f0ffff;
    border-radius: 5px;
}

/* Modal styling */

.modal-content {
    background-color: black !important;
    border: 2px solid white !important;
}
/* Search Page styling */

.container.search-page-results {
    margin-top: 30px;
}

.card-body.search-results-card {
    background: #21252a;
    color: #f0ffff;
    border-radius: 8px;
}

h5.card-title.result_title a {
    color: #007bff !important;
}

.text-muted {
    --bs-text-opacity: 1;
    color: #007bff !important
}

/* Media query for tablet screens and smaller */
@media only screen and (max-width: 768px) {
    #post-space {
        width: 100%; /* Full width for tablet screens and smaller */
        padding: 15px; /* Optional: Adjust padding as needed */
    }
}